div {
    display: flex;
}

html, body {
    height: 130%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.width {
    margin: auto;
    width: 70%;
}

/* upper section */

.header {
    background-color: #182720;
}

.header .width {
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul, a {
    text-decoration: none;
    list-style: none;
    color: #e5e5e5;
}

ul {
    display: flex;
    gap: 40px;
}

.header-buttons {
    gap: 15px;
}

.image img {
 max-width: 300px;
}

img {
    object-fit: contain;
}

p.subtext {
    color: #e5e7eb;
    margin-bottom: 8px;
}

.upper-section {
    background-color: #182720;
    flex: 1;
}

h1 {
    color: #f9faf8;
    font-size: 42px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 10px;
}

.container {
    flex-direction: column;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

button, .signup .width {
    background-color: #62a045;
    color: #f9faf8;
}

button {
    padding: 6px 25px;
    border-radius: 8px;
    width: fit-content;
    border: 0;
}

.container button {
    margin-top: 10px;
}

/* second section */

.mid-section {
    background-color: #f9faf8;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.info {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #568259;
}

/* third section */

.quote {
    background-color: #c7e7b5;
    flex: 1;
}

.quote .width {
    flex-direction: column;
}

.quote .width .bold {
    margin-left: auto;
}

/* fourth section */

.signup {
    background-color: #f9faf8;
    flex: 1;
}

.call {
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 30px 70px;
    gap: 50px;
}

.container p {
    margin: 0;
    color: #e5e7eb;
}

.container .bold {
    font-size: 22px;
}

.call button {
    border-style: solid;
    border-width: 2px;
    border-color: #f9faf8;
}

/* bottom section */

.footer {
    background-color: #182720;
    padding: 25px;
    justify-content: center;
    align-items: center;
    color: #e5e5e5;
}

/* padding containers */

.signup, .quote, .mid-section, .upper-section {
    padding: 20px;
}

/* font properties */

.italic {
    font-style: italic;
    font-size: 32px;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

button a {
    color: #f9faf8;
}
